* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uno {
    background-color: rgb(157, 232, 241);
    height: 150px;
}

.dos {
    background-color: rgb(133, 203, 243);
    height: 150px;

}

.tres {
    background-color: rgb(113, 190, 241);
    height: 150px;
}

.cuatro {
    background-color: rgb(101, 188, 228);
    height: 150px;
}

.cinco {
    background-color: rgb(37, 192, 240);
    height: 150px;
}

.seis {
    background-color: rgb(216, 200, 170);
    height: 150px;
}

.siete {
    background-color: rgb(204, 189, 162);
    height: 150px;
}

.ocho {
    background-color: rgb(185, 172, 146);
    height: 150px;
}

.nueve {
    background-color: rgb(158, 147, 124);
    height: 150px;
}

.diez {
    background-color: rgb(141, 131, 111);
    height: 150px;
}

.caja {
    position: relative;
    overflow: hidden;
}

/* Imagen del pollito */
.pollito {
    position: absolute;
    width: 80px;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transform: translateY(20px) scale(0.5);
    transition: all 0.4s ease;
}

/* Efecto cuando pasas el cursor */
.caja:hover .pollito {
    opacity: 1;
    transform: translateY(0) scale(1);
}